{% extends 'accountManager/base.html' %}
{% block body_block %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}

{% bootstrap_javascript jquery='full' %}
{% load static %}
{{ theform.media }}

<div class="container">
    
    <h1>Change Password:</h1>

    <form method="post">
        <h1 class=" h3 mb-3 font-weight-normal">  
      </h1>
      {% csrf_token %}
      {% bootstrap_form form %}
 <input type="checkbox" onclick="Toggle()">
    <b>Show Password</b>

      <input class="btn btn-lg btn-primary btn-block sendButton" type="submit" value="Submit">
      <br>
    </form>
{% comment %} 
<form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>{{ form.old_password.errors }}
                    <td>
                        <label for="id_old_password">Old password:</label></td>
                    <td>{{ form.old_password }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form> {% endcomment %}


</div>  
  
    <script>
    // Change the type of input to password or text
        function Toggle() {
            var temp = document.getElementById("id_new_password1");
            if (temp.type === "password") {
                temp.type = "text";
            }
            else {
                temp.type = "password";
            }
            var temp2 = document.getElementById("id_new_password2");
            if (temp2.type === "password") {
                temp2.type = "text";
            }
            else {
                temp2.type = "password";
            }
            var temp1 = document.getElementById("id_old_password");
            if (temp1.type === "password") {
                temp1.type = "text";
            }
            else {
                temp1.type = "password";
            }
        }

   $('.sendButton').attr('disabled',true);
    $('#id_new_password1').keyup(function(){

        if ( $.trim( $('#id_new_password1').val() ) == '' )
            $('.sendButton').attr('disabled',true);
        else if($(this).val().includes(" "))
            $('.sendButton').attr('disabled', true);
        else if($(this).val().length !=0)
            $('.sendButton').attr('disabled', false);            
        else
            $('.sendButton').attr('disabled',true);
    })

</script>
{% endblock %}